<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../Static/CSS/Navigator.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <nav>
    <ul class="navGeneralButton"> 
      <logo>ArtworkFair</logo>
      <li><a href="../Templates/MainPage.html">首页</a></li>
    </ul>
    <div class="searchBox">
      <?php include('Search.html'); ?>
    </div>   
    <ul class="navUserButton">
      <li><a id="loginButton" href="../Templates/Login.html">登录</a></li>
    </ul>
  </nav>
</body>
</html>
