<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商品详情页</title>
    <link rel="stylesheet" href="../Static/CSS/CommodityDetail.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../Static/Javascript/SearchPage.js"></script>
</head>
<?php include('../Components/Navigator_after.html'); ?>

<body>
    <!-- 导航栏 -->
    <!-- <?php include('../Components/Commodity.html'); ?> -->
    <div class="CommodityDetailTitle">商品详情</div>
    <div class="CommodityForm">
        <div class="CommodityImg">
            <img src="../Static/Images/works/large/007020.jpg">
        </div>
        <div class="CommodityInfo">
            <span class="commodityTitle">商品信息</span>
            <span class="title">标题：自由引导人民</span><br>
            <span class="author">作者：欧仁·德拉克罗瓦</span><br>
            <span class="year">年份：1830</span><br>
            <span class="era">时代：浪漫主义时代</span><br>
            <span class="style">风格：浪漫主义</span><br>
            <span class="width">宽度(cm)：325</span><br>
            <span class="height">高度(cm)：260</span><br>
        </div>
        <div class="tradeInfo">
            <span class="tradeTitle">交易信息</span>
            <span class="promulgator">发布者：佚名</span><br>
            <span class="promDate">发布日期：2023/4/5</span><br>
            <span class="price">价格：10m RMB</span><br>
            <span class="soldStatus">状态：未售出</span><br>
        </div>
        <div class="CommdityIntro">
            <span class="intro">作品简介</span><br><br>
            <span class="introWord">《自由引导人民》画面展示了夺取七月革命胜利关键时刻的巷战场面，以浪漫主义的手法巧妙地将写意和写实结合起来，运用丰富而炽烈的色彩和明暗对比，充满着动势的构图，奔放的笔触，紧凑的结构，表现了革命者高涨的热情，歌颂了以工人、小资产阶级和知识分子为参加主体的七月革命。</span>
        </div>
    </div>
    <?php include('../Components/Comment.html'); ?>
</body>
<footer>
    <?php include('../Components/Bottom.html'); ?>
</footer>
</html>
