<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="../Static/Images/logoCircle.JPG">
        <script type="text/javascript" src="../Static/Javascript/Login.js"></script>
        <meta charset="utf-8">
        <meta name="login" content="width=device-width, initial-scale=1.0">
        <title>登录</title>
        <link rel="stylesheet" type="text/css" href="../Static/CSS/Login.css"/>
    </head>
    <body>
       <!-- 登录框 -->
        <form class="login_form" action="?p=login&m=getLogin" method="post">
            <h1 style="text-align:center">请登录</h1>
            <label>
                <input id="IDinput" onblur="IDtest()" name="nameOrEmail" type="text" placeholder="用户名/邮箱"><br>
                <input id="loginMethods" name="loginMethods" hidden>
                <div class="warninfo" id="IdWhetherNull" style="text-align:center">&nbsp;</div>
                <input id="Passwordinput" onblur="PWtest()" name="userPassword" type="password" placeholder="密码"><br>
                <div class="warninfo" id="PWWhetherNull" style="text-align:center">&nbsp;</div><br>
                <input id="IdentifyingCode" type="text" placeholder="请输入验证码">
                <canvas id="canvas"></canvas><br>
            </label>
            <input type="submit" value="登录" id="submit_btn" ><br>
            <a class="To_register" href="/Views/Templates/Register.html">没有账号？请点击注册</a>
            &nbsp;&nbsp;
            <a class="To_Main" href="/Views/Templates/MainPage.html">回到首页</a>
        </form>
    </body>
    <?php include('../Components/Bottom.html'); ?>
</html>
