<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>交易网站-首页</title>
    <link rel="stylesheet" href="../Static/CSS/MainPage.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../Static/Javascript/MainPage.js"></script>
</head>
<body>
  <!-- 导航栏 -->
    <?php include('../Components/Navigator_after.html'); ?>

    <!-- 欢迎 -->
    <div class="welcome">
        <div class="welcomeWordTop">欢迎来到ArtworkFair</div>
        <div class="welcomeWord">我们致力于为广大艺术品爱好者提供最优质的艺术品交易平台</div>
        <div class="welcomeWord">这里汇聚了来自世界各地的顶尖艺术家的作品</div>
        <div class="welcomeWordBot">无论您是收藏家、投资者还是喜欢欣赏艺术品的普通人，这里都能满足您对艺术的追求与想象</div> 
    </div>
    <div class="recommendationTitle">
        <div>为您推荐</span>
    </div>
    <!-- 推荐图片 -->
    <div class="recommendations">
        <img src="../Static/Images/works/medium/005010.jpg" alt="推荐图片1">
        <img src="../Static/Images/works/medium/005090.jpg" alt="推荐图片2">
        <img src="../Static/Images/works/medium/007020.jpg" alt="推荐图片3">
        <img src="../Static/Images/works/medium/019060.jpg" alt="推荐图片4">
        <img src="../Static/Images/works/medium/001260.jpg" alt="推荐图片5">
        <img src="../Static/Images/works/medium/019010.jpg" alt="推荐图片6">
    </div>
</body>
<footer>
    <?php include('../Components/Bottom.html'); ?>
</footer>
</html>
